.data{
    color: white;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 75vw;
    position: relative;
    right: 100px;
    top: 10px;
}
.data img {
    border: solid 4px white;
    height: 450px;
    min-width: 300px;
}
.data__Searched {
    margin-left: 20px;
    width: 100%;
    height: 48vh;
}
.data__genre{
    background-color: black;
    border: solid 2px white;
    padding: 5px;
    margin-top: 10px;
    width:fit-content;
}
.data__ratings{
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    position: relative;
    right: 10px;
}
.metascore {
    padding: 10px;
}
li {
    list-style-type: none;
}
.fa-star {
    color: #dabc15;
}

/* CARDS */
.cards {
    margin: 10px;
}
.cards:hover img{
    opacity: 1;
    transition: opacity .4s ease;
    cursor: pointer;
}
.cards:hover .card__info{
    opacity: 1;
    transition: opacity .4s ease;
}
.card__info {
    text-align: center;
    background-color: black;
    padding: 10px;
    width: 271px;
    height: 80px;
    color: rgb(255, 255, 255);
    border: white solid 4px;
    box-sizing: border-box;
    opacity: 0.5;
}
#card__info h1{
    font-size: 1.2rem;
}
.cards > img {
    width: 271px;
    height: 380px;
    opacity: 0.5;
}